@(message: String)

@Main("Page1") {
   <div class="container">
     <div class="row">
      <div class="col-md-4">
        <div class="well">
          <div class="brooke-image"></div>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="well">
          <h1>Serena Brooke</h1>
          <p>
          Brooke began to compete in amateur competitions in 1990 where she was crowned the Queensland amateur surfing title as well as the Australian National Title. Following her graduation from high school in 1995 she entered the pro ranks and finished her rookie season with a #13 overall ranking on the woman's tour. She was named the 1995 Women's Rookie of the Year. Among her notable accomplishments was winning the Billabong Pro Australia title and achieving a temporary #1 overall ranking in 2001. She would finish with #2 ranking twice on the World Championship Tour (WCT).
          </p>
          <p>Serena Brooke is one of the most marketable athletes in woman's surfing having garnered numerous sponsorships including Angel Eyewear and Bud Light. In 2001 she starred in the surfing documentary 7 Girls, and has also starred in numerous surfing videos and occasionally holds surfing camps for children looking to learn how to surf. In 2001, she established the Serena Brooke Charity Foundation. The foundation, which was created in Huntington Beach, California, helps raise money for the Orange County Child Abuse Prevention Center, CSP Youth Centers, Breast Cancer Research, and the Surfrider Foundation among others. The highlight of the year for the foundation is the Serena Brooke Charity Day held in Huntington Beach.
          </p>
        </div>
      </div>
     </div> 
   </div>
}
