@(message: String)

@Main("Kyuss") {
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <div class="kyuss-image"></div>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="well">
          <h1>Kyuss King</h1>
          
          <p>Kyuss King born and lives in Byron Bay NSW Australia with his younger brother Rasmus, dad Kingie and mum Eva. Kyuss lives in a farm house on the country side of Byron Bay. Kyuss King was named after the legendary Rock Band "Kyuss", an underground desert rock group originating from Palm Desert California and the pioneers of the "Stoner Rock" genre. The Kyuss music was played on high rotation during Kingie's youth growing up in Avalon and continues today in the Kings lives. When Kingies first son came along in 2000, Kyuss King was born.
          </p>
          <p>
          The Journey begins, Kyuss started surfing at the age of 2, surfing small days out the Pass on the front of his dads Mal, Kyuss would stand tall and ride the waves to shore clapping his hands, turn to his dad and say "MORE" Kyuss took to surfing like he'd done it in another life, Kyuss was always keen to get out there, onshore, rain, blue bottles, Kyuss wanted to go...
          </p>
          <p>
          At the age of 4 Kyuss featured on the front cover of the local newspaper surfing across a green face solo out the Pass and with a stance that true of a grounded point surfer... Kyuss's surfing talents were soon noticed by the surf brands and was sponsored by Volcom at the age of 6. Kyuss loved competing and went on to win many national junior events over the past years and recently claimed the 2011 U12 NSW State Titles Championship and added 2 perfect 10 point rides at state level. Kyuss has been travelling the world with his family, chasing the sun, surfing new waves, making new friends, living different cultures and learning life. Kyuss's passion are surfing, skating, guitar, music and art. Kyuss is also a historian and keen collector. Kyuss loves 90's Indy Rock, Old School Movies, Collecting Retro Skate Boards, and Surfboards, fashion from the 70's and 80's, American Muscle Cars and so on.
          </p>
        </div>
      </div>
    </div>
  </div>
}
