@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, surfers: List[Surfer], countryTypes: List[String], searchForm: Form[views.formdata.SearchFormData],
  surfersPerPage: Int)

@Main(page, isLoggedIn, userInfo, countryTypes, searchForm) {
  <div class="container">
    <h1>Search Results</h1>

  
  @if(surfers.length > surfersPerPage) {
    <ul class="pagination">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      
      @for(i <- 2 to (surfers.length / surfersPerPage) + 1) {
        <li><a href="#">@i</a></li>
      }
      <li><a href="#">&raquo;</a></li>
    </ul>
  }
  
  <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      
      @for(surfer <- surfers) {
      <tr>
        <td><a href="@routes.Application.getSurfer(surfer.getSlug())">@surfer.getName()</a></td>
        <td>@surfer.getBiography()</td>
      </tr>
      }
    </table>
  </div>
}
