@(page: String, isLoggedIn: Boolean, isAdmin: Boolean, userInfo: UserInfo, surfer: Surfer, countryTypes: List[String], searchForm: Form[views.formdata.SearchFormData])

@Main(page, isLoggedIn, isAdmin, userInfo, countryTypes, searchForm) {
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <div class="bio-image" style="background-image: url('@surfer.getBioImgUrl()');"></div>
        </div>
      </div>
    
      <div class="col-md-8">
        <div class="well">
          <h1>@surfer.getName()</h1>
          <p><strong>Home Town: </strong>@surfer.getHome()</p>
          <p><strong>Awards: </strong>@surfer.getAwards()</p>
          <p><strong>Foot style: </strong>@surfer.getFootstyleType()</p>
          <p><strong>Biography: </strong>@surfer.getBiography()</p>
          <p><strong>Country: </strong>@surfer.getCountry()</p>
          <p>
          @if(isLoggedIn) {
            <a class="btn btn-xs btn-info" href="@routes.Application.manageSurfer(surfer.getSlug())">Edit</a>
            <a class="btn btn-xs btn-danger" data-toggle="modal" href="#deleteDialog"><i class="glyphicon glyphicon-remove"></i> Delete</a>
            @if(!isAdmin) {
              @if(userInfo.getSurfers().contains(surfer)) {
                <a class="btn btn-xs btn-warning" href="@routes.Application.favorite(surfer.getSlug(), page)"><i class="glyphicon glyphicon-thumbs-down"></i> Remove from Favorites</a>
              } else {
                <a class="btn btn-xs btn-primary" href="@routes.Application.favorite(surfer.getSlug(), page)"><i class="glyphicon glyphicon-thumbs-up"></i> Add to Favorites</a>
              }
            }
          }
          </p>
        </div>
      </div>
    </div>
    
    <div id="deleteDialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Really delete surfer?</h4>
          </div>
          <div class="modal-body">
            <p>This cannot be undone.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="@routes.Application.deleteSurfer(surfer.getSlug())" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
}
