@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, updateList: List[Update], surferList: List[Surfer])

@Main(page, isLoggedIn, userInfo, surferList) {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <tr>
            <th>Date</th>
            <th>Action</th>
            <th>Surfer</th>
          </tr>
          
          @for(update <- updateList) {
            <tr>
              <td>@update.getDate()</td>
              <td>@update.getAction()</td>
              <td>@update.getSurfer()</td>
            </tr>
          }
        </table>
      
      </div>
    
  </div>
}
